.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-item {
  position: relative;
  /* max-width: 350px; */
  width: 21%;
  background: #fff;
  margin: 1rem;
  overflow: hidden;
  border-radius: 9px;
}

.container-item p {
  padding: 2rem;
}

.container-edit {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.container-editing {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.container-item img {
  width: 100%;
}

.body {
  display: flex;
  justify-content: space-between;
}

.tags-body {
  width: 200px;
  background: #fff;
  padding: 1rem 2rem;
  text-align: left;
}

.content-body {
  width: 100%;
  background: #f4f4f4;
}

.status {
  position: fixed;
  background: #121212;
  color: white;
  bottom: 0;
  width: 500px;
  text-align: center;
  margin: 0 auto;
  z-index: 99;
  left: 50%;
  transform: translateX(-50%);
}

.status-message {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.status-message-content {
  position: relative;
  background: #121212;
  padding: 1rem 3rem;
  color: #fff;
  margin-bottom: 1rem;
  margin-right: 1rem;
  overflow: hidden;
}

.status-message-content::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: red;
  animation: statusUpdate 5s;
  transform-origin: left;
}

@keyframes statusUpdate {
  0% {
    transform: scaleX(0%)
  }
  100% {
    transform: scaleX(100%)
  }
}

.selectbox {
  position: fixed;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  pointer-events: none;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}